.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.list {
  > p {
    padding-bottom: 1.2rem;
    border-bottom: 1px solid var(--colorSecondaryShade);

    font-family: var(--fontTitle);
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }
}

.addr {
  width: 100%;
}

.addr {
  ul {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }

  li {
    display: flex;
    flex-direction: column;
  }

  span {
    font-style: normal;
    font-size: 1.4rem;
    font-weight: 500;
  }
}

.addr {
  a {
    &,
    &:link,
    &:visited {
      font-size: 1.6rem;
      font-style: normal;
      color: var(--colorFontDark);
    }

    &:focus,
    &:hover,
    &:active {
      color: var(--colorSecondaryShade);
    }
  }
}

.social {
  padding-top: 1.2rem;
  grid-template-columns: repeat(3, 1fr);
}
