.social {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 1.8rem;
}

.social {
  svg {
    fill: var(--colorDark);

    height: 3.2rem;
    width: 3.2rem;
  }

  a {
    &:hover,
    &:active {
      svg {
        fill: var(--colorSecondaryLight);
      }
    }
  }
}
