.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  gap: 2.4rem;
}

.menu {
  a {
    display: flex;
    align-items: center;

    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
  }

  svg {
    fill: var(--colorFontDarker);
  }
}

.name {
  gap: 0.6rem;
}

.name {
  svg {
    height: 1.8rem;
    width: 1.8rem;
  }

  span {
    max-width: 12rem;
    font-size: inherit;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: all 0.1s;
  }
}

.name {
  &,
  &:link,
  &:visited {
    color: var(--colorFontDarker);
  }
}

.name {
  &:focus,
  &:hover,
  &:active {
    span {
      text-decoration: underline;
    }
  }
}

.cart {
  position: relative;
  height: 2.8rem;
  width: 2.8rem;
}

.cart {
  svg {
    position: relative;
    height: 2.4rem;
    width: 2.4rem;

    z-index: 10;
    transition: all 0.1s;
  }

  div {
    position: absolute;
    top: 0;
    right: 0;

    display: grid;
    justify-items: center;
    align-items: center;

    width: 2rem;
    height: 2rem;

    background-color: var(--colorComplement);
    color: var(--colorFontLighter);

    font-size: 1.4rem;
    border-radius: 50%;

    transform: translate3d(0.8rem, -0.8rem, 0);
    z-index: 15;
  }
}

.cart {
  &:hover,
  &:active {
    svg {
      fill: var(--colorDark);
    }
  }
}
