@use "../../../../styles/variables/static";

.container {
  transform: translate3d(0, 0, 0);

  height: 44rem;
  flex-direction: row;
  margin-top: 2.4rem;

  @media only screen and (max-width: static.$bpMedium) {
    height: 74rem;
    flex-direction: column;
  }

  @media only screen and (max-width: static.$bpSquareBreak) {
    height: 80rem;
  }
}

.wrap {
  border-bottom: 2px solid var(--colorSecondary);
}

.wrap {
  > div {
    padding-bottom: 2.4rem;
  }
}
