@use "../../../styles/variables/static";

.address {
  display: flex;
  flex-direction: column;
  align-items: end;

  font-style: normal;

  @media only screen and (max-width: static.$bpSmallest) {
    align-items: center;
  }
}
