@use "../../../../styles/variables/static";

.container {
  position: fixed;
  width: 100%;
  left: 0;

  color: var(--colorFontDark);
  background-color: var(--colorPrimary);

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;

  box-shadow: static.$boxShadowMediumBottom;
}

.container {
  .wrap {
    min-width: 48rem;
    max-width: 114rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 14rem;

    margin-top: 0.2rem;
    margin-bottom: 0.8rem;

    animation: subnav-fade-in 0.6s ease-out;
  }
}

.menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 8rem;

  margin-top: 1.8rem;
  margin-bottom: 0.8rem;
  padding-bottom: 2.4rem;

  overflow-x: auto;
}

.img {
  height: 25rem;
  object-fit: cover;
  object-position: center;
}

@keyframes subnav-fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
