.list {
  height: 100%;
  width: 100%;
}

.a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  text-align: center;
}

.a {
  &:link,
  &:visited {
    color: inherit;
    font-size: 1.4em;
  }

  &:focus,
  &:hover,
  &:active {
    outline: none;
    color: var(--colorFontDarker);
    background-color: var(--colorPrimary);
    text-decoration: none;
  }
}

.open {
  outline: none;
  color: var(--colorFontDarker) !important;
  background-color: var(--colorPrimary) !important;
  text-decoration: none;
}

.sub {
  &::after {
    display: inline-block;
    content: "\02228";
    font-size: 0.8em;
    margin-left: 0.5rem;
  }
}
