.container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: all 0.6s;
  transform: translate3d(0, 0, 0);

  cursor: pointer;
  overflow: hidden;
}

.stall {
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--colorFontDarker);

  width: 0;
  min-width: 40rem;
}

.container {
  > h2 {
    font-size: 3.2em;
  }

  > p {
    margin-bottom: auto;
  }

  > div {
    align-self: center;
  }

  > a {
    align-self: center;
  }
}

.active.container {
  flex: 1 1 500%;
  border: 3px solid currentColor;
  cursor: auto;
}

.active {
}
