.container {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);

  transition: all 0.4s;
  transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 1deg);

  cursor: pointer;
  overflow: hidden;
}

.stall {
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--colorFontDarker);

  width: 0;
  min-width: 42rem;
}

.container {
  header {
    gap: 0.2rem;
    color: var(--colorFontDark);
  }

  header {
    h2 {
      position: absolute;
      bottom: 0;
      left: 100%;

      transform-origin: bottom left;
      transform: rotate3d(0, 0, 1, -90deg);

      font-size: 8em;
      font-weight: 700;
      letter-spacing: -0.06em;
      line-height: 1;

      margin: 0;
      padding: 0 0.2em;
      background-color: rgba(#fff, 0.6);
    }

    h6 {
      padding: 0 0.4em;

      white-space: nowrap;
      background-color: rgba(#fff, 1);

      color: inherit;
      text-transform: uppercase;
    }
  }
}

.container {
  > div {
    align-self: center;
  }

  > a {
    align-self: center;
    margin-top: auto;
  }
}

.active.container {
  flex: 1 1 500%;
  cursor: auto;
}

.season.container {
  filter: grayscale(0);
  border: 3px solid currentColor;
}

.season.container {
  header {
    color: inherit;
  }
}
