@use "../../../../styles/variables/static";

.id {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.id {
  img {
    height: 6.4rem;
  }

  p {
    text-align: center;
    font-size: 1.2rem;
    max-width: 25rem;

    color: var(--colorFontGrey);

    @media only screen and (max-width: static.$bpLarge) {
      display: none;
    }
  }
}
