.menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.8rem;

  min-width: max-content;
  padding-left: 1.8rem;

  border-left: 1px solid var(--colorSecondaryShade);
}

.menu {
  > a {
    &:link,
    &:visited {
      font-size: 1.4em;
      color: var(--colorFontGrey) !important;
    }

    &:focus,
    &:hover,
    &:active {
      color: var(--colorSecondaryShade) !important;
    }
  }
}

.title {
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 500;

  color: var(--colorFontDarker);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.2rem;
}

.list {
  a {
    &:link,
    &:visited {
      color: inherit;
      font-size: 1.4em;
    }

    &:focus,
    &:hover,
    &:active {
      outline: none;
      color: var(--colorFontDarker);
      background-color: var(--colorPrimary);
    }
  }
}
