@use "../../../../../styles/variables/static";

.menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.8rem;

  min-width: max-content;
  padding-left: 1.8rem;

  border-left: 1px solid var(--colorSecondaryShade);

  @media only screen and (max-width: static.$bpSmall) {
    align-items: center;

    padding-left: 0;
    border-left: none;
    gap: 2.4rem;
  }
}

.menu {
  > a {
    &:link,
    &:visited {
      font-size: 1.4em;
      color: var(--colorSecondaryShade) !important;
      transition: all 0.1s;

      @media only screen and (max-width: static.$bpSmall) {
        font-size: 1.6em;
      }
    }

    &:focus,
    &:hover,
    &:active {
      color: var(--colorComplement) !important;
    }
  }
}

.title {
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 500;

  color: var(--colorFontDarker);

  @media only screen and (max-width: static.$bpSmall) {
    font-size: 1.8em;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.2rem;
  width: 100%;

  @media only screen and (max-width: static.$bpSmall) {
    align-items: center;
    gap: 1.8rem;
  }
}

.list {
  a {
    &:link,
    &:visited {
      color: inherit;
      font-size: 1.4em;
      transition: all 0.1s;

      @media only screen and (max-width: static.$bpSmall) {
        font-size: 1.6em;
      }
    }

    &:focus,
    &:hover,
    &:active {
      outline: none;
      color: var(--colorFontDarker);
      background-color: var(--colorPrimary);
    }
  }
}
