@use "../../styles/variables/static";

.foot {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  z-index: 50;

  background-color: var(--colorSecondaryShade);
  color: var(--colorSecondaryLight);
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: max-content;
  align-items: start;
}

.container {
  .social {
    svg {
      fill: var(--colorDark);
    }

    a {
      &:hover,
      &:active {
        svg {
          fill: var(--colorSecondaryLight);
        }
      }
    }
  }
}

.social {
  grid-template-columns: repeat(6, 1fr);

  grid-column: -3 / span 2;
  justify-self: end;
  align-self: center;
}

.map {
  grid-column: 1 / span 3;
  grid-row: 1 / span 4;

  grid-template-columns: repeat(3, 1fr);

  @media only screen and (max-width: static.$bpMedium) {
    grid-column: 1 / span 2;
  }
}

.pay {
  grid-column: -3 / span 2;
  justify-self: end;
}

.address {
  grid-column: -3 / span 2;
}

.copy {
  grid-column: 1/-1;
  padding-top: 1.2rem;
  margin-top: 1.2rem;

  text-align: center;
  border-top: 1px solid var(--colorPrimaryTint);
}
