@use "../../styles/variables/static";

// Verticavl ------------------------------------ //
// Margin ---------------------------- //
.mv-vh {
  margin-top: 8rem;
  margin-bottom: 8rem;

  @media only screen and (max-width: static.$bpLarge) {
    margin-top: 6.4rem;
    margin-bottom: 6.4rem;
  }
}

.mv-h {
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;

  @media only screen and (max-width: static.$bpLarge) {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
  }
}

.mv-vl {
  margin-top: 5.4rem;
  margin-bottom: 5.4rem;
}

.mv-l {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.mv-ml {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.mv-m {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.mv-ms {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.mv-s {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.mv-vs {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.mv-t {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

// Padding --------------------------- //
.pv-vh {
  padding-top: 8rem;
  padding-bottom: 8rem;

  @media only screen and (max-width: static.$bpLarge) {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }
}

.pv-h {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;

  @media only screen and (max-width: static.$bpLarge) {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }
}

.pv-vl {
  padding-top: 5.4rem;
  padding-bottom: 5.4rem;
}

.pv-l {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

.pv-ml {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.pv-m {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}

.pv-ms {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.pv-s {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.pv-vs {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.pv-t {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

// Horizontal ----------------------------------- //
// Margin ---------------------------- //
.mh-vh {
  margin-left: 8rem;
  margin-right: 8rem;
}

.mh-h {
  margin-left: 6.4rem;
  margin-right: 6.4rem;
}

.mh-vl {
  margin-left: 5.4rem;
  margin-right: 5.4rem;
}

.mh-l {
  margin-left: 3.2rem;
  margin-right: 3.2rem;
}

.mh-ml {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

.mh-m {
  margin-left: 1.8rem;
  margin-right: 1.8rem;
}

.mh-ms {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.mh-s {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.mh-vs {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.mh-t {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

// Padding --------------------------- //
.ph-vh {
  padding-left: 8rem;
  padding-right: 8rem;
}

.ph-h {
  padding-left: 6.4rem;
  padding-right: 6.4rem;
}

.ph-vl {
  padding-left: 5.4rem;
  padding-right: 5.4rem;
}

.ph-l {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

.ph-ml {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.ph-m {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.ph-ms {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.ph-s {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.ph-vs {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.ph-t {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

// Display ---------------------------- //
.d-grid {
  display: grid;
}

.d-fvlex {
  display: flex;
}

// Align ------------------------------ //
.v-ce {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h-ce {
  display: flex;
  flex-direction: row;
  align-items: center;
}
